MyBlog.Biz/bin
MyBlog.Biz/obj
MyBlog.DAL/bin
MyBlog.DAL/obj
MyBlog.Entity/bin
MyBlog.Entity/obj
MyBlog.IBiz/bin
MyBlog.IBiz/obj
MyBlog.Website/bin
MyBlog.Website/obj
MyBlog.Models/obj
MyBlog.Models/bin
*.ppk
*.pfx
*.key
MyBlog.IDAL/bin
MyBlog.IDAL/obj
Tools/obj
Tools/bin
MyBlog.Access.DAL/bin
MyBlog.Access.DAL/obj
MyBlog.Factory/bin
MyBlog.Factory/obj
